body {
    font-family: varela round, sans-serif !important;
    font-size: 20px;
    color: black;
    background-color: #F1EAE6;
    margin: 0; 
}

button {
    font-family: varela round, sans-serif !important;
}

.btn-primary {
    padding: 10px 20px;
    background: #4971FF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.btn-primary:hover {
    color: lightgrey;
}

.title {
    width: 100%;
    background: url('backgroundNice.png') repeat center center/cover;
    background-size: 350px;
    padding: 6vh 0;
    text-align: center;
    border-bottom: 1px solid #797979;
}

.title h1 {
    margin: 0;
    font-size: 70px;
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: black;
    z-index: 1001; /* Above the sidebar */
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
}

.sidebar {
    height: 100vh;
    width: 300px;
    /* width: 21%; */
    /* width: 20vw; */
    /* min-width: 300px; */
    position: fixed;
    background-color: #7552F2;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #797979;
    z-index: 2000;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Take up available space */
}

.sidebar-content a:not(:last-child) {
    margin-bottom: 10px;
}

.sidebar a {
    padding:20px;
    margin-left:20px;
    margin-right:20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    font-size: 26px;
    font-weight: bold;
}

.sidebar a i {
    margin-right: 10px; /* Space between icon and text */
}

.sidebar-content .active {
    background-color: #5538A8;
}

.sidebar a:hover:not(.active), .logout-section a:hover {
    background-color: rgba(85,56,168,0.5);
}

.logout-section {
    padding-bottom: 20px;
    flex-grow: 0; /* Do not grow */
}

.close-sidebar {
    display: none; /* Initially hidden */
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background: transparent;
    border: none;
    color: white;
    font-size: 36px;
    cursor: pointer;
}

/* Show close button when sidebar is open */
.sidebar.open .close-sidebar {
    display: block;
}

/* Mobile view styles */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
    
    .sidebar {
        width: 0;
        visibility: hidden;
        /* transition: width 0.3s ease, visibility 0.3s ease; */
    }
    
    .sidebar.open {
        width: 300px;
        visibility: visible;
    }
    
    .sidebar a, .sidebar .logout-section {
        text-align: center;
    }
    
    .sidebar a i {
        margin-right: 0;
    }
    
    .sidebar a span {
        display: none; /* Hide text next to icons */
    }
}

.content {
    /* margin-left: 20vw; */
    margin-left: 300px;
    min-height: 100vh;
}

.main-content {
    width: 85%;
    padding: 30px 50px;
    margin: 40px auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: relative;
    z-index: 10;
}

.toggle-buttons {
    display: flex;
    gap: 10px;
}

.toggle-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-family: varela round, sans-serif !important;
}

.toggle-button.active {
    background-color: #4971FF;
    color: #fff;
    border-color: #4971FF;
}

@media screen and (max-width: 1500px) {
    .content {
        margin-left: 300px;
    }
}

@media screen and (max-width: 1100px) {
    .sidebar a {
        display: flex;
        justify-content: center; /* Center the icon */
        margin-left: 5px;
        margin-right: 5px;
        padding: 15px;
    }

    .sidebar a i {
        margin-right: 0; /* Remove space between icon and text */
    }

    .sidebar a span {
        display: none;
    }

    .sidebar {
        width: 75px;
    }

    .sidebar-content a:not(:last-child) {
        margin-bottom: 20px;
    }

    .main-content {
        margin: 30px auto;
    }

    .content {
        margin-left: 75px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .sidebar a {
        display: flex;
        justify-content: unset;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }

    .sidebar a i {
        margin-right: 10px;
    }

    .sidebar a span {
        display: block;
    }

    .sidebar {
        width: 300px;
    }

    .title h1 {
        font-size: 55px;
    }

    .main-content {
        width: 80%;
        padding: 10px;
    }
}
